<div>
  <div>
    <h1>Add a movie to your <%= @list.name %></h1>
  </div>

  <div>
    <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment, placeholder: "Enter a comment about the movie" %>
    <%= f.association :movie, prompt: "Select a movie", input_html: {data: {controller: "tom-select"}} %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>

<div>

